body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-nav .logo2 {
  width: 110px;
  margin-left: 20px;
  padding: 7px;
  padding-left: 15px;
  border-left: 1px solid black;
}

/* Slide Show */
.slideshow {
  position: relative;
}

.slides-container {
  position: relative;
}

.slides-container img {
  display: none;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Style for the overlay captions */
.overlay {
  background-image: linear-gradient(to left, black 0%, transparent 100%);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 40%;
  color: white;
  justify-content: center;
  align-items: center;
}

.overlay-placeholder {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.overlay-content {
  padding-right: 10px;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overlay-content h2 {
  background-color: yellow;
  max-width: 180px;
  text-align: center;
  color: black;
}

.overlay-content a {
  font-size: large;
  color: #054b16;
  background-color: #9bf00b;
  text-decoration: none;
  max-width: 120px;
  text-align: center;
  font-weight: 700;
}

.overlay-content p {
  font-size: xx-large;
}

/* QuickLinks */
.quicklinks-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.quicklinks {
  height: 100%;
  width: 70%;
  display: flex;
  display: flex;
  justify-content: space-around;
}

.ql-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #107b10;
}

.ql-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ql-item img {
  height: 50%;
}

/* Content Containers */
.content-container,
.content-container2,
.content-container3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 250px;
  width: 100%;
}

.content-container a,
.content-container2 a,
.content-container3 a {
  margin-top: 5px;
  color: white;
  font-size: large;
}

/* Child Containers of Varying Sizes Big/Small/Wide */
.bigContainer {
  grid-row: span 2;
  position: relative;
  margin: 2px;
}

.bigContainer h2 {
  font-size: xx-large;
}

.smallContainer {
  color: white;
  margin: 2px;
  display: flex;
}

.smallContainer-left {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.smallContainer-right {
  background-color: #107b10;
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.bigContainer-bg,
.wideContainer-bg {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.bigContainer-bg img,
.wideContainer-bg img,
.smallContainer-left img {
  transition: transform 0.4s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bigContainer-bg:hover img,
.wideContainer-bg:hover img,
.smallContainer-left:hover img {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

.bigContainer-fg {
  background-image: linear-gradient(to top, black 0%, transparent 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-left: 30px;
  pointer-events: none;
}

.wideContainer {
  margin: 2px;
  grid-column: span 2;
  position: relative;
}

.wideContainer-fg {
  background-image: linear-gradient(to right, black 0%, transparent 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  pointer-events: none;
}
