/* Slide Show */

.slideshow {
  position: relative;
}

.slides-container {
  position: relative;
}

.slides-container img {
  display: none;
  height: 400px;
}

/* Style for the overlay captions */
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid red;
  height: 100%;
  width: 40%;
  color: white;
  padding: 10px;
}

.overlay-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* QuickLinks */

.quicklinks-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.quicklinks {
  height: 100%;
  width: 70%;
  display: flex;
  display: flex;
  justify-content: space-around;
}

.ql-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #107b10;
}

.ql-item:hover {
  text-decoration: underline;
}

.ql-item img {
  height: 50%;
}

.content-container,
.content-container2,
.content-container3 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 250px;
  width: 100%;
}

.content-container a,
.content-container2 a,
.content-container3 a {
  margin-top: 5px;
  color: white;
  font-size: large;
}

.bcontainer {
  grid-row: span 2;
  position: relative;
  padding: 1px;
}

.bcontainer h2 {
  font-size: xx-large;
}

.scontainer {
  color: white;
  padding: 1px;
  display: flex;
}

.scontainer-left {
  height: 100%;
  width: 50%;
}

.scontainer-right {
  background-color: #107b10;
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.bcontainer-bg,
.wcontainer-bg {
  height: 100%;
  width: 100%;
}

.bcontainer-bg img,
.wcontainer-bg img,
.scontainer-left img {
  height: 100%;
  width: 100%;
}

.bcontainer-fg {
  background-image: linear-gradient(to top, black 0%, transparent 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-left: 30px;
}

.wcontainer {
  padding: 2px;
  grid-column: span 2;
  position: relative;
}

.wcontainer-fg {
  background-image: linear-gradient(to right, black 0%, transparent 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
