/* Slide Show */

.slideshow {
  position: relative;
}

.slides-container {
  position: relative;
}

.slides-container img {
  display: none;
  height: 400px;
}

/* Style for the overlay captions */
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid red;
  height: 100%;
  width: 40%;
  color: white;
  padding: 10px;
}

.overlay-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* QuickLinks */

.quicklinks-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.quicklinks {
  height: 100%;
  width: 70%;
  display: flex;
  display: flex;
  justify-content: space-around;
}

.ql-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
}

.ql-item:hover {
  text-decoration: underline;
}

.ql-item img {
  height: 50%;
}
